// ***********************************
// FORMS
// ***********************************
input,
select,
textarea {
    font-size: 100%; /* Corrects font size not being inherited in all browsers */
    margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

input[type="search"] {
  width: calc(100% - 16px) !important
}

input[type="text"],input[type="password"],input[type="date"],input[type="email"],input[type="search"],input[type="url"],select,textarea {
    width: 100%;
    max-width: 100%;

    &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }
}

input[type="range"] {
    width: 100%;
    max-width: 100%;
}


textarea {
    overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
    padding-left: 3px;
    vertical-align: top; /* Improves readability and alignment in all browsers */
}

label{
	color: $body-text;
    padding-right: 10px;
}

input, textarea {
  border: 0 none;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  outline: medium none;
  padding: 10px;
  resize: none;
  width: 100%;

}

select {
    border: 1px solid #DDDDDD;
    color: #7F7F7F;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius:5px;
}

input[type="color"]{
	border: none;
	background: none;
	padding: 0;
}


input[type="checkbox"],
input[type="radio"] {
    padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
    -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
    -webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
    -moz-box-sizing:    content-box;
    box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}


.comment-form,
.picture-form {
    background-color: #9ecbd2;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 20px;
    position: relative;

    label {
        color: #6ba2aa;
        display: block;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    button {
        background-color: #fce87c;
        border: 0 none;
        border-radius: 10px;
        color: #6ba2aa;
        display: inline-block;
        font-weight: 700;
        line-height: 3;
        padding: 0 40px;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out 0s;
    }

    button:active {
      background-color: #fbe259;
    }
}
