// ***********************************
// LAYOUT
// ***********************************

// Flex Grid Rows
.container{
	max-width: 90%;
	margin: 0px auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px 0px;
}

.row > *{
	background: #F4F3F0;
	flex: 1;
	margin: 0 10px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
